name: Deploy to HubSpot

on:
  push:
    branches:
      - main
      - qa

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to Production
        if: github.ref == 'refs/heads/main'
        uses: HubSpot/hubspot-project-actions@v1.0.1
        env:
          DEFAULT_ACCOUNT_ID: ${{ secrets.HUBSPOT_ACCOUNT_ID }}
          DEFAULT_PERSONAL_ACCESS_KEY: ${{ secrets.HUBSPOT_PERSONAL_ACCESS_KEY }}

      - name: Deploy to QA
        if: github.ref == 'refs/heads/qa'
        uses: HubSpot/hubspot-project-actions@v1.0.1
        env:
          DEFAULT_ACCOUNT_ID: ${{ secrets.HUBSPOT_QA_ACCOUNT_ID }}
          DEFAULT_PERSONAL_ACCESS_KEY: ${{ secrets.HUBSPOT_QA_PERSONAL_ACCESS_KEY }}
